@model  Common_Objects.ViewModels.PCMCaseDetailsViewModel
<fieldset id="SubmitForm2">

    @Html.HiddenFor(m => m.Co_Accused_Id, new { @id = "Aid" })
    <div class="row">

        <div class="col-md-4">
            @Html.LabelFor(x => x.Vi_Last_Name)
        </div>

        <div class="col-md-8 form-group">

            @Html.TextBoxFor(m => m.Vi_Last_Name, new { @id = "PersonCoAccused", @class = "form-control", @placeholder = "Enter last Name*" })
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <input type="submit" id="ButtonFilterCoAccused" value="Search" class="btn btn-success" />
        </div>
    </div>


</fieldset>
<div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center">
        Person Details
    </div>
</div>
<p></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Tel No</th>
            <th>Age</th>
            <th>Add (Co Accused)</th>

        </tr>
    </thead>
    <tbody id="SetPersonListCoAccused">
        <tr id="LoadingStatus" style="color:red"></tr>
    </tbody>
</table>

<script type="text/jscript">
    $('#ButtonFilterCoAccused').click(function () {
        $.getJSON('../../PCMCase/getPersonByLastName/' + $('#PersonCoAccused').val(), function (data) {

            var items = $("#SetPersonListCoAccused");
                $.each(data, function (i, p) {
                    items += "<tr><td>" + p.Person_Id +
                        "</td><td>" + p.First_Name +
                        "</td><td>" + p.Last_Name +
                        "</td><td>" + p.Phone_Number +
                        "</td><td>" + p.Age +
                        "</td><td>" + "<a href='#' class='btn btn-warning' onclick='AddCoAccused(" + p.Person_Id + ")' ><span class='glyphicon glyphicon-ok'></span></a>" +
                        "</td></tr>";
                });
                items += "</table>";

                $('#SetPersonListCoAccused').html(items);
            });
        })



    function AddCoAccused(Id) {

        var url = "../../PCMCase/SaveCoAccusedInDatabase?Id=" + Id;
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    alert("Success!..");
                    $.getJSON('../../PCMCase/ListCoAccused/', function (data) {

                        var items = $("#SetListCoAccused");
                        $.each(data, function (i, p) {
                            items += "<tr><td>" + p.Co_Accused_Id +
                                "</td><td>" + p.Co_Accused_First_Name +
                                "</td><td>" + p.Co_Accused_Last_Name +
                                "</td><td>" + p.Cubacc +
                                "</td><td>" + "<a href='#' class='btn btn-warning' onclick='DeleteCoAccused(" + p.Co_Accused_Id + ")' ><span class='glyphicon glyphicon-trash'></span></a>" +
                                "</td></tr>";
                        });
                        items += "</table>";

                        $('#SetListCoAccused').html(items);
                       
                    });
                    $("#myModalCoAccused").modal("hide");
                }, error: function () { alert('something bad happened'); }

            })

         }
</script>

