@model IEnumerable<Common_Objects.ViewModels.PCMHBSViewModel>


<div class="panel-heading" style="text-align: center; width:70%">
    @Html.DisplayNameFor(model => model.Description_Condition)
</div>
<table class="table table-striped" style="width:70%">
    @*<tr>

            <th>
                @@Html.DisplayNameFor(model => model.Description_Recomendation_Order)
            </th>

        </tr>*@
    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>



                @*@Html.DisplayFor(modelItem => item.VictimizationType)*@


                <td>
                    @Html.HiddenFor(modelItem => item.HB_Condition_Id)
                    @Html.DisplayFor(modelItem => item.Description_Condition)

                </td>
                <td>
                    @*@Html.EditorFor(modelItem => item.IsChecked)*@
                    @using (Html.BeginForm("DeleteConditionFromTable", "PCMHBS", new { id = item.HB_Condition_Id }, FormMethod.Post))
                    {
                        <button class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span></button>}
                </td>

            </tr>
        }
    }

    </table>


<script>
    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
            //document.getElementById("VEP_VictimizationTypeDetails").deleteRow(1);
        } else {
            return false;
        }
    }

</script>



